<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{JS_PATH}rem.js"></script>
    <link rel="stylesheet" href="{CSS_PATH}active.css">
    <title>Document</title>
</head>
<body>

<div class="hd_bg">
    <img src="{IMG_PATH}wximg/act_body.png" alt="">
</div>
<section class="top">
    <h1>活动</h1>
    <ul>
        <li>
            <div class="topli_center">
                <img src="{IMG_PATH}wximg/act_cj.png" alt="">
            </div>
        </li>
        <li>
            <div class="topli_center">
                <img src="{IMG_PATH}wximg/act_zc.png" alt="">
            </div>
        </li>
        <li>
            <div class="topli_center">
                <img src="{IMG_PATH}wximg/act_xy.png" alt="">
            </div>
        </li>
        <li>
            <div class="topli_center">
                <img src="{IMG_PATH}wximg/act_xxhd.png" alt="">
            </div>
        </li>
    </ul>
</section>
<section class="tram">
    <div class="tram_zezhao">
        <div class="zezhao_left">
            <h1>TRAM &nbsp;WEDDING</h1>
            <h2>JOIN &nbsp;US</h2>
            <div class="henxian">
                <div class="henxian_left"></div>
                <div class="henxian_dian"></div>
            </div>
            <h3>限时集体婚礼活动</h3>
        </div>
        <div class="zezhao_right"><span>10</span>人已参加</div>
    </div>
</section>
<section class="end">
    <h1>SPECIFIC &nbsp;DETAILS</h1>
    <h2>具体详情
    <div class="hongdian hongdian1"></div>
        <div class="hongdian hongdian2"></div>
    </h2>
    <div class="end_xiangqing">
        <h1>浪漫集体婚礼</h1>
        <div class="end_head">
            <div class="head_left">春天广场
            <div class="dian_hong edhd_left"></div>
                <div class="dian_huang edhd_right"></div>
            </div>
            <div class="head_right">2017-12-25
                <div class="dian_hong edhd_left"></div>
                <div class="dian_huang edhd_right"></div></div>
        </div>
        <div class="end_img"><img src="{IMG_PATH}wximg/endimg_01.png" alt=""></div>
        <h3>集体婚礼是个性化婚礼的一种，它涵盖了婚礼&nbsp;...</h3>
        <div class="end_foot">
            <div class="endfoot_left">
                <div class="efl_user efl_user1">
                    <img src="{IMG_PATH}wximg/efl_user1.png" alt="">
                </div>
                <div class="efl_user efl_user2">
                    <img src="{IMG_PATH}wximg/efl_user2.png" alt="">
                </div>
                <div class="efl_user efl_user3">
                    <img src="{IMG_PATH}wximg/efl_user3.png" alt="">
                </div>
                <div class="efl_user efl_user4">
                    <img src="{IMG_PATH}wximg/efl_user4.png" alt="">
                </div>
                <div class="efl_user efl_user5">
                    <img src="{IMG_PATH}wximg/efl_user5.png" alt="">
                </div>

            </div>
            <div class="endfoot_right">
                <div class="efr_left">
                    <div class="efrl_left"><img src="{IMG_PATH}wximg/ef_yan.png" alt=""></div>
                    <span>58074</span>
                </div>
                <div class="efr_left">
                    <div class="efrl_left"><img src="{IMG_PATH}wximg/ef_xin.png" alt=""></div>
                    <span>75045</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 底部table栏 -->
<div class="tableBox">

    <div class="option" >
        <a href="index.php?m=index&f=shouye">
            <div class="opp">
                <img src="{IMG_PATH}wximg/dingzhihui.png" alt="">
            </div>
            <div class="shu"></div>

            <div class="character" >定制</div>
        </a>

    </div>

    <div class="option" style="background:#FF8C2A">
        <a href="index.php?m=index&f=active">
            <div class="opp">
                <img src="{IMG_PATH}wximg/huodongbai.png" alt="">
            </div>
            <div class="shu"></div>
            <div class="character" style="color:#fff">活动</div>
        </a>

    </div>
    <div class="option">
        <a href="index.php?m=index&f=huati">
            <div class="opp">
                <img src="{IMG_PATH}wximg/faxianhui.png" alt="">
            </div>
            <div class="shu"></div>
            <div class="character">发现</div>
        </a>

    </div>
    <div class="option" >
        <a href="index.php?m=index&f=assistant">
            <div class="opp">
                <img src="{IMG_PATH}wximg/zhushouhui.png" alt="">
            </div>
            <div class="shu"></div>
            <div class="character" >助手</div>
        </a>

    </div>
    <div class="option">
        <a href="index.php?m=index&f=women">
            <div class="opp">
                <img src="{IMG_PATH}wximg/womenhui.png" alt="">
            </div>
            <div class="character">我们</div>
        </a>

    </div>
</div>

</body>
</html>