<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../src/js/rem.js"></script>
    <link rel="stylesheet" href="../../src/css/assistant.css">
</head>
<body>
<section>
    <div class="title">助手
    <div class="tit_right"></div>
    </div>
    <h1>距离</h1>
    <h2>我们的婚礼</h2>
    <div class="nub_big">
        <div class="nub_small">5</div>
        <div class="nub_small">2</div>
        <div class="nub_small">0</div>
    </div>
    <h3>2018-1-8</h3>
    <div class="bigbox">
        <div class="whitebox">
        <div class="singel border_xy">
            <div class="over">
            <img src="../../src/img/wximg/single_jnr.png" alt=""></div>
        </div>
            <div class="singel border_xy">
                <div class="over">
                <img src="../../src/img/wximg/single_jrtx.png" alt=""></div>
            </div>
            <div class="singel border_x">
                <div class="over">
                <img src="../../src/img/wximg/single_xgys.png" alt=""></div>
            </div>
            <div class="singel border_xy">
                <div class="over">
                <img src="../../src/img/wximg/single_cylp.png" alt=""></div>
            </div>
            <div class="singel border_xy jiao_xin">
                <div class="over">
                <img src="../../src/img/wximg/single_zmxc.png" alt=""></div>
                <div class="ass_xin1 ass_xin"></div>
                <div class="ass_xin2 ass_xin"></div>
                <div class="ass_xin3 ass_xin"></div>
                <div class="ass_xin4 ass_xin"></div>

            </div>
            <div class="singel border_x">
                <div class="over">
                <img src="../../src/img/wximg/single_hllc.png" alt=""></div>
            </div>
            <div class="singel border_y">
                <div class="over">
                <img src="../../src/img/wximg/single_zfq.png" alt=""></div>
            </div>
            <div class="singel border_y">
                <div class="over">
                <img src="../../src/img/wximg/single_jxgl.png" alt=""></div>
            </div>
            <div class="singel">
                <div class="over">
                <img src="../../src/img/wximg/single_hdjr.png" alt=""></div>
            </div>



        </div>
    </div>
</section>
<footer>
    <ul>
        <li><a href=""><img src="../../src/img/wximg/foot_dzw.png" alt=""></a></li>
        <li><a href="active.html"><img src="../../src/img/wximg/foot_hdw.png" alt=""></a></li>
        <li><a href=""><img src="../../src/img/wximg/foot_fxw.png" alt=""></a></li>
        <li><a href=""><img src="../../src/img/wximg/foot_zsx.png" alt=""></a></li>
        <li><a href="personal.html"><img src="../../src/img/wximg/foot_wmw.png" alt=""></a></li>
        <div class="shuxian1 shuxian"></div>
        <div class="shuxian2 shuxian"></div>


    </ul>
</footer>

</body>
</html>