<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{CSS_PATH}manner.css">

    <title>Document</title>
    <script src="{JS_PATH}rem-half.js"></script>
    <script src="{JS_PATH}jquery.min.js"></script>
    <script src="{JS_PATH}manner.js"></script>

</head>

<body>
    <header>
        <div class="header">
            <div class="header-left">
                <a href="index.php?m=index&f=custom&a=project">
                    <img src="{IMG_PATH}定制流程/date_03.png" alt="">
                    <p class="first-p">
                        请选择您喜欢的风格 ..
                    </p>
                    <p>
                        WEDDING STYLE ..
                    </p>
                </a>

            </div>
            <div class="header-right">
                <a class="jump">
                    跳过
                    <img src="{IMG_PATH}定制流程/date_06.png" alt="">
                </a>
            </div>
        </div>
        <div class="page">
            .....................................
            <span>04</span>
            <span style="color: #F7A766;">/04</span> .....................................
        </div>
    </header>

    <main>
        <div class="bac">
            <div class="content">
                <section class="top">
                    <div class="content-top-left">
                        <img src="{IMG_PATH}定制流程/style_03.png" alt="">
                    </div>
                    <div class="content-top-right">
                        <div class="sub-next sub-style">浪漫清新</div>
                    </div>
                </section>
                <div class="shandow"></div>
                <section class="bottom">
                    <ul>
                        <li>
                            <img src="{IMG_PATH}定制流程/style_07.png" alt="">
                            <div class="img-zhao active">
                                <img src="{IMG_PATH}定制流程/taoxin_06.png" alt="">
                            </div>
                            <input type="hidden" value="浪漫清新">
                        </li>
                        <li>
                            <img src="{IMG_PATH}定制流程/style_09.png" alt="">
                            <div class="img-zhao">
                                <img src="{IMG_PATH}定制流程/taoxin_06.png" alt="">
                            </div>
                            <input type="hidden" value="创意中式">
                        </li>
                        <li>
                            <img src="{IMG_PATH}定制流程/stly-fugu_03.png" alt="">
                            <div class="img-zhao">
                                <img src="{IMG_PATH}定制流程/taoxin_06.png" alt="">
                            </div>
                            <input type="hidden" value="复古欧式">
                        </li>
                        <li>
                            <img src="{IMG_PATH}定制流程/style_18.png" alt="">
                            <div class="img-zhao">
                                <img src="{IMG_PATH}定制流程/taoxin_06.png" alt="">
                            </div>
                            <input type="hidden" value="游轮豪华">
                        </li>
                        <li>
                            <img src="{IMG_PATH}定制流程/style_20.png" alt="">
                            <div class="img-zhao">
                                <img src="{IMG_PATH}定制流程/taoxin_06.png" alt="">
                            </div>
                            <input type="hidden" value="冰雪奇缘">
                        </li>
                        <li>
                            <img src="{IMG_PATH}定制流程/style_21.png" alt="">
                            <div class="img-zhao">
                                <img src="{IMG_PATH}定制流程/taoxin_06.png" alt="">
                            </div>
                            <input type="hidden" value="简约现代">
                        </li>
                    </ul>
                </section>
                <a>
                    <div class="sub-change ">
                        确认修改
                    </div>
                </a>

            </div>
        </div>
    </main>

</body>

</html>