<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}date.css">
    <link rel="stylesheet" href="{CSS_PATH}calendar.css">
    <script src="{JS_PATH}jquery.min.js"></script>
    <script src="{JS_PATH}calendar.js"></script>
    <script src="{JS_PATH}date.js"></script>
    <script src="{JS_PATH}rem-half.js"></script>
</head>

<body>
    <header>
        <div class="header">
            <div class="header-left">
                <a href="index.php?m=index&f=custom">
                    <img src="{IMG_PATH}/定制流程/date_03.png" alt="">
                    <p class="first-p">
                        选择婚期
                    </p>
                    <p>
                        WEDDING DATE ..
                    </p>
                </a>
                
            </div>
            <div class="header-right">
                <a class="jump">
                    跳过
                    <img src="{IMG_PATH}/定制流程/date_06.png" alt="">
                </a>
            </div>
        </div>
        <div class="page">
            .....................................
            <span>02</span>
            <span style="color: #F7A766;">/04</span> .....................................
        </div>
    </header>

    <main>
        <div class="bac">
            <div class="content">
                <section class="top">
                    <div class="content-top-left">
                        <img src="{IMG_PATH}/定制流程/custom_03.png" alt="">
                    </div>
                    <div class="content-top-right">
                        <div class="select-city your-date">
                            <span>
                                <input type="hidden" class="mydate">
                                请选择您的婚礼日期
                            </span>
                            &nbsp;&nbsp;
                            <img src="{IMG_PATH}/定制流程/custom_06.png" alt="">
                        </div>
                    </div>
                </section>
                <div class="shandow"></div>
                <section class="bottom">
                    <div id="demo">
                        <div id="ca"></div>
                    </div>
                    
                        <a >
                            <div class="btn">
                                 完成 
                            </div>
                        </a>
                </section>
               
            </div>
        </div>
    </main>
    
</body>
</html>
