<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>动态详情</title>
    <link rel="stylesheet" href="{CSS_PATH}wkdtxq.css">
    <script src="{JS_PATH}wkjquery.js"></script>
    <script src="{JS_PATH}wkrem.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{IMG_PATH}logo.png" media="screen" />
</head>
<body>
<header>
    <div class="head-fh"><a href="index.php?m=index&f=huati">&lt;</a></div>
    <div class="head-wz">动态详情</div>
</header>
<main>
    <div class="zxfb-detail">
        <div class="zxfb-top">
            <div class="zxfbtx">
                <div class="zxfbtximg">
                </div>
            </div>
            <div class="zxfbnc">
                <div class="zxfbnc-nc">{$arr["dtname"]}</div>
                <div class="zxfbnc-sj">{$arr["dttime"]}</div>
            </div>
            <div class="zxfbdd">
                <a href="">关注</a>
            </div>
        </div>
        <div class="zxfb-main">
            <div class="zxfb-mainwz">
                <p>
                    {$arr["dtnr"]}
                </p>
            </div>
            <div class="zxfb-maintp">
                {foreach $imgres as $img}
                <div class="zxfb-mainimg">
                    <img src="{$img}" alt="">
                </div>
                {/foreach}
            </div>
            <div class="zxfb-dian">
                &middot; &middot; &middot; &middot; &middot; &middot; &middot; &middot; &middot; &middot;
                &middot; &middot; &middot; &middot; &middot; &middot; &middot; &middot; &middot; &middot;

            </div>
            <div class="zxfb-bot">
                <div class="zxfbdd-img">
                    <img src="{IMG_PATH}zxfbhg.png" alt="">
                </div>
                <div class="zxfbdd-wz">{$arr["dtdd"]}</div>
            </div>

        </div>
    </div>

</main>
<div class="qbpl">
    <div class="qbpl-title">
        <div class="qbpl-titlewz">全部评论</div>
        <div class="qbpl-titletp">
            <img src="{IMG_PATH}qbpl0.png" alt="">
        </div>
    </div>
    {foreach $plarr as $pl}
    <div class="qbpl-detail">
        <div class="qbpl-detailtx">

        </div>
        <div class="qbpl-detailnr">
             <div class="plnrwz">
                 <p>
                     {$pl["plnr"]}
                 </p>
             </div>
            <div class="plnrtp">
                {foreach $plimgarr as $img}
                <div class="plnrtp1">
                    <img src="{$img}" alt="">
                </div>
                {/foreach}
                <!--<div class="plnrtp1">-->
                    <!--<img src="{IMG_PATH}plimg01.png" alt="">-->
                <!--</div>-->
            </div>
        </div>
        <div class="qbpl-detailsjbox">
            <div class="qbpl-detailsj">

            </div>
            <span>{$pl["pltime"]}</span>
        </div>

        <div class="qbpl-detaildz">
            <span>{$pl["pldzcount"]}</span>
        </div>
        <div class="qbpl-detailpl">
            <span>{$pl["plhfcount"]}</span>
        </div>
        <div class="zxfb-dian">
            &middot; &middot; &middot; &middot; &middot; &middot; &middot; &middot; &middot; &middot;
            &middot; &middot; &middot; &middot; &middot; &middot; &middot; &middot; &middot; &middot;
        </div>
    </div>
    {/foreach}
    <!--<div class="qbplhf-detail">-->
        <!--<div class="qbplhf-detailtx">-->

        <!--</div>-->
        <!--<div class="qbplhf-detailnr">-->
            <!--<div class="plhfnrwz">-->
                <!--<p>-->
                    <!--太好看了吧！！！这是谁家场地啊？我想要你的方案，楼主！-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="qbplhf-detailsjbox">-->
            <!--<div class="qbplhf-detailsj">-->

            <!--</div>-->
            <!--<span>5小时前</span>-->
        <!--</div>-->

        <!--<div class="qbplhf-detaildz">-->
            <!--<span>520</span>-->
        <!--</div>-->
        <!--<div class="qbplhf-detailpl">-->
            <!--<span>520</span>-->
        <!--</div>-->
    <!--</div>-->
</div>
<footer>
   <div class="foot-bq">
       <img src="{IMG_PATH}bq0.png" alt="">
   </div>
    <div class="foot-hf">
        <!--<input type="text">-->
        <a href="index.php?m=index&f=huati&a=addpinglun&id={$arr['id']}"></a>
    </div>
    <div class="foot-dz">
        <a href=""><img src="{IMG_PATH}zxfb-dz.png" alt=""></a>
        <span>852</span>
    </div>
    <div class="foot-sc">
        <a href=""><img src="{IMG_PATH}zxfb-sc.png" alt=""></a>
        <span>852</span>
    </div>
    <div class="foot-fx">
        <a href=""><img src="{IMG_PATH}zxfb-fx.png" alt=""></a>
        <span>852</span>
    </div>

</footer>
</body>
</html>