<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../src/js/rem-half.js"></script>
    <link rel="stylesheet" href="../../src/css/hotel.css">
</head>
<body>
    <header>
        <div class="topBox">
            <div class="backBox"><img src="../../src/img/婚礼方案/back.png" alt=""></div>
            <div class="hunlifangan">酒店详情</div>   
        </div>
    </header>
    <div class="banner">
        <img src="../../src/img/hotel/矩形-1513521945_02.png" alt="">
        <div class="cover">
            <div class="hotelName">星河湾酒店</div>
            <div class="hotel_nub">
                <div class="nub_img"><img src="../../src/img/hotelimg/xq_nub.png" alt=""></div>
                <span>26</span>
            </div>
        </div>
    </div>
    <div class="first"><img src="../../src/img/hotel/first.png" alt=""></div>
    <div class="xq_xiangqing">
        <div class="xq_list">
            <div class="list_icon"><img src="../../src/img/hotelimg/xq_mc.png" alt=""></div>
            <h1>酒店名称</h1>
            <h2>星河湾酒店</h2>
            <div class="xq_wjx"><img src="../../src/img/hotelimg/xq_wujiaoxin.png" alt=""></div>
        </div>
        <div class="xq_list">
            <div class="list_icon"><img src="../../src/img/hotelimg/xq_lx.png" alt=""></div>
            <h1>类型</h1>
            <h2>复古欧式</h2>
        </div>
        <div class="xq_list">
            <div class="list_icon"><img src="../../src/img/hotelimg/xq_lx.png" alt=""></div>
            <h1>营业时间</h1>
            <h2>8:00AM-10：PM</h2>
        </div>
        <div class="xq_list">
            <div class="list_icon"><img src="../../src/img/hotelimg/xq_lx.png" alt=""></div>
            <h1>资询电话</h1>
            <h2>400-9088-345</h2>
        </div>
        <div class="xq_list">
            <div class="list_icon"><img src="../../src/img/hotelimg/xq_lx.png" alt=""></div>
            <h1>价位</h1>
            <h2>1999元/桌起</h2>
        </div>
    </div>
    <div class="first"><img src="../../src/img/hotel/矩形-1513521945_09.png" alt=""></div>
    <div class="ditu"><img src="../../src/img/hotel/矩形-1513521945_12.png" alt=""></div>

    <div class="fixedBox">
        <div class="left">
            <div class="one"><img src="../../src/img/hotel/矩形-1513521945_19.png" alt=""></div>
            <div class="one"><img src="../../src/img/hotel/矩形-1513521945_21.png" alt=""></div>
            <div class="one"><img src="../../src/img/hotel/矩形-1513521945_23.png" alt=""></div>
        </div>
        <div class="right">
            <div class="yuyue"><img src="../../src/img/hotel/矩形-1513521945_25.png" alt=""></div>
        </div>
    </div>
</body>
</html>