<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="{JS_PATH}rem-half.js"></script>
    <link rel="stylesheet" href="{CSS_PATH}hunlifangan.css">
    <script src="{JS_PATH}jquery.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}iscroll.js"></script>
</head>
<script type="text/javascript">

    var myScroll;

    function loaded() {
        myScroll = new IScroll('#wrapper', { scrollX: true, scrollY: false, mouseWheel: true });
    }

</script>
<style>

</style>
<body onload="loaded()">
    <header>
        <div class="topBox">
           <a href="index.php?m=index&f=custom&a=shouye"><div class="backBox">
            <img src="{IMG_PATH}婚礼方案/back.png" alt="">
        </div></a> 
            <div class="hunlifangan">婚礼方案</div>
        </div>
        <div id="wrapper">
            <div id="scroller">
                <ul class="bottomBox">
                    {foreach $arr as $key=>$item}
                    <li>
                        <a class="mao" href="#{$key}">
                             <a>{$item[0]}</a>
                        <div class="shu"></div>
                        <div class="english">BANQUET</div>
                        </a>
                    </li>     
                    {/foreach}     
                </ul>
            </div>
        </div>
    </header>
    <div class="content">
        <!-- <div class="yusuan"><img src="{IMG_PATH}婚礼方案/xinxibiao.png" alt=""></div> -->
        <div class="hotel">
            <!-- 摄影师 -->
            {foreach $xiangxi as $key=>$item}
            <div class="hotelTitle" id="{$key}">
                <p>WEDDINXINGHEGRAPHY</p>
                <p>{$item[0]['name']}</p>
            </div>
            <div class="ggbox" style="margin-bottom:0.7rem;">
                <div class="priceBox">
                    <div class="leftPrice">
                        <span style="color:#E3E3E3">￥</span>
                        <span style="color:#FD7C71">{$item[0]['price']}</span>
                        <span style="color:#E3E3E3">起</span>
                    </div>
                    <div class="rightXing">
                        <img src="{IMG_PATH}婚礼方案/wuxing.png" alt="">
                    </div>
                </div>
                <div class="hotelImg">
                    <img src="{$item[0]['img']}" alt="">
                </div>
                <div class="hotelDizhi">
                    <div class="iconBox">
                        <img src="{IMG_PATH}婚礼方案/dingwei.png" alt="">
                    </div>
                    <div class="dizhi">{$item[0]['place']}</div>
                </div>
                <div class="hotelDizhi">
                    <div class="iconBox">
                        <img src="{IMG_PATH}婚礼方案/shijian.png" alt="">
                    </div>
                    <div class="dizhi" style="color:#8D8E90">8:00AM-10:00PM</div>
                </div>
                <div class="hotelDizhi">
                    <div class="iconBox">
                        <img src="{IMG_PATH}婚礼方案/dianhua.png" alt="">
                    </div>
                    <div class="dizhi" style="color:#FE7C38">{$item[0]['tell']}</div>
                </div>
                <div class="zixun">立即咨询</div>
            </div>
            {/foreach}
            <!-- 酒店 -->
           <!--  <div class="hotelTitle" id="1">
                <p>WEDDINXINGHEGRAPHY</p>
                <p>星河湾酒店</p>
            </div>
            <div class="ggbox">
                <div class="priceBox">
                    <div class="leftPrice"><span style="color:#E3E3E3">￥</span><span style="color:#FD7C71">1899</span><span style="color:#E3E3E3">起</span></div>
                    <div class="rightXing"><img src="{IMG_PATH}婚礼方案/wuxing.png" alt=""></div>
                </div>
                <div class="hotelImg"><a href="hotel.html"><img src="{IMG_PATH}婚礼方案/jiudian.png" alt=""></a></div>
                <div class="hotelDizhi">
                    <div class="iconBox"><img src="{IMG_PATH}婚礼方案/dingwei.png" alt=""></div>
                    <div class="dizhi">三亚湾海坡12巷万家戴斯酒店7楼观海整层</div>
                </div>
                <div class="hotelDizhi">
                    <div class="iconBox"><img src="{IMG_PATH}婚礼方案/shijian.png" alt=""></div>
                    <div class="dizhi" style="color:#8D8E90">8:00AM-10:00PM</div>
                </div>
                <div class="hotelDizhi">
                    <div class="iconBox"><img src="{IMG_PATH}婚礼方案/dianhua.png" alt=""></div>
                    <div class="dizhi" style="color:#FE7C38">400-9088-345</div>
                </div>
                <div class="zixun">立即咨询</div>
            </div> -->
            <!-- 策划师 -->
            <!-- <div class="hotelTitle">
                <p>WEDDINXINGHEGRAPHY</p>
                <p>策划师</p>
            </div>
            <div class="ggbox">
                <div class="priceBox">
                    <div class="leftPrice"><span style="color:#E3E3E3">￥</span><span style="color:#FD7C71">3999</span><span style="color:#E3E3E3">起</span></div>
                    <div class="rightXing"><img src="{IMG_PATH}婚礼方案/wuxing.png" alt=""></div>
                </div>
                <div class="hotelImg"><img src="{IMG_PATH}婚礼方案/cehua.png" alt=""></div>
                    
                <div class="hotelDizhi" style="height:0.8rem">
                        <div class="iconBoxs"><img src="{IMG_PATH}婚礼方案/touxiang1.png" alt=""></div>
                        <div class="dizhis">灰灰</div>
                        <div class="dizhiss"><span style="color:#FE7C38">造梦师</span>&nbsp;<span style="color:#CACACA">策划一流</span></div>
                </div>
                <div class="zixun">立即咨询</div>
            </div> -->
            
            <!-- 婚纱 -->
           <!--  <div class="hotelTitle">
                <p>WEDDINXINGHEGRAPHY</p>
                <p>爱睦婚纱</p>
            </div>
            <div class="ggbox" style="margin-bottom:0.7rem;">
                <div class="priceBox">
                    <div class="leftPrice"><span style="color:#E3E3E3">￥</span><span style="color:#FD7C71">1899</span><span style="color:#E3E3E3">起</span></div>
                    <div class="rightXing"><img src="{IMG_PATH}婚礼方案/wuxing.png" alt=""></div>
                </div>
                <div class="hotelImg"><img src="{IMG_PATH}婚礼方案/lifu.png" alt=""></div>
                <div class="hotelDizhi">
                    <div class="iconBox"><img src="{IMG_PATH}婚礼方案/dingwei.png" alt=""></div>
                    <div class="dizhi">三亚湾海坡12巷万家戴斯酒店7楼观海整层</div>
                </div>
                <div class="hotelDizhi">
                    <div class="iconBox"><img src="{IMG_PATH}婚礼方案/shijian.png" alt=""></div>
                    <div class="dizhi" style="color:#8D8E90">8:00AM-10:00PM</div>
                </div>
                <div class="hotelDizhi">
                    <div class="iconBox"><img src="{IMG_PATH}婚礼方案/dianhua.png" alt=""></div>
                    <div class="dizhi" style="color:#FE7C38">400-9088-345</div>
                </div>
                <div class="zixun">立即咨询</div>
            </div> -->
        </div>  
    </div>
    <!-- table栏目 -->
    <div class="tableBoxs">
        <div class="yuyue">
            <div class="xiugai">
                <div class="tubiao"><img src="{IMG_PATH}婚礼方案/bianji.png" alt=""></div>
               <a href="index.php?m=index&f=custom">
                    <div class="character">修改方案</div>
               </a>    
            </div>
            <div class="sanjiao"></div>
        </div>
        <div class="yuyues">
            <div class="xiugai">
                <div class="tubiao"><img src="{IMG_PATH}婚礼方案/yuyue.png" alt=""></div>
                <a href="index.php?m=index&f=custom&a=shouye">
                <div class="character" style="color:#fff">预约全部</div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>