<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../src/js/rem-half.js"></script>
    <link rel="stylesheet" href="../../src/css/hunlifangan.css">
</head>
<body>
    <header>
        <div class="topBox">
            <div class="backBox"><img src="../../src/img/婚礼方案/back.png" alt=""></div>
            <div class="hunlifangan">婚礼方案</div>
        </div>
        <ul class="bottomBox">
            <li>
                <a href="">婚宴</a>
                <div class="shu"></div>
                <div class="english">BANQUET</div>
            </li>
            <li>
                <a href="">策划</a>
                <div class="shu"></div>
                <div class="english">PLAN</div>
            </li>
            <li>
                <a href="">摄影</a>
                <div class="shu"></div>
                <div class="english">PHOTO</div>
            </li>
            <li>
                <a href="">礼服</a>
                <div class="english">DRESS</div>
            </li>
        </ul>
    </header>
    <div class="content">
        <div class="yusuan"><img src="../../src/img/婚礼方案/xinxibiao.png" alt=""></div>
        <div class="hotel">
            <!-- 酒店 -->
            <div class="hotelTitle">
                <p>WEDDINXINGHEGRAPHY</p>
                <p>星河湾酒店</p>
            </div>
            <div class="ggbox">
                <div class="priceBox">
                    <div class="leftPrice"><span style="color:#E3E3E3">￥</span><span style="color:#FD7C71">1899</span><span style="color:#E3E3E3">起</span></div>
                    <div class="rightXing"><img src="../../src/img/婚礼方案/wuxing.png" alt=""></div>
                </div>
                <div class="hotelImg"><a href="hotel.html"><img src="../../src/img/婚礼方案/jiudian.png" alt=""></a></div>
                <div class="hotelDizhi">
                    <div class="iconBox"><img src="../../src/img/婚礼方案/dingwei.png" alt=""></div>
                    <div class="dizhi">三亚湾海坡12巷万家戴斯酒店7楼观海整层</div>
                </div>
                <div class="hotelDizhi">
                    <div class="iconBox"><img src="../../src/img/婚礼方案/shijian.png" alt=""></div>
                    <div class="dizhi" style="color:#8D8E90">8:00AM-10:00PM</div>
                </div>
                <div class="hotelDizhi">
                    <div class="iconBox"><img src="../../src/img/婚礼方案/dianhua.png" alt=""></div>
                    <div class="dizhi" style="color:#FE7C38">400-9088-345</div>
                </div>
                <div class="zixun">立即咨询</div>
            </div>
            <!-- 策划师 -->
            <div class="hotelTitle">
                <p>WEDDINXINGHEGRAPHY</p>
                <p>策划师</p>
            </div>
            <div class="ggbox">
                <div class="priceBox">
                    <div class="leftPrice"><span style="color:#E3E3E3">￥</span><span style="color:#FD7C71">3999</span><span style="color:#E3E3E3">起</span></div>
                    <div class="rightXing"><img src="../../src/img/婚礼方案/wuxing.png" alt=""></div>
                </div>
                <div class="hotelImg"><img src="../../src/img/婚礼方案/cehua.png" alt=""></div>
                    
                <div class="hotelDizhi" style="height:0.8rem">
                        <div class="iconBoxs"><img src="../../src/img/婚礼方案/touxiang1.png" alt=""></div>
                        <div class="dizhis">灰灰</div>
                        <div class="dizhiss"><span style="color:#FE7C38">造梦师</span>&nbsp;<span style="color:#CACACA">策划一流</span></div>
                </div>
                <div class="zixun">立即咨询</div>
            </div>
            <!-- 摄影师 -->
            <div class="hotelTitle">
                    <p>WEDDINXINGHEGRAPHY</p>
                    <p>摄影师</p>
            </div>
            <div class="ggbox">
                <div class="priceBox">
                     <div class="leftPrice"><span style="color:#E3E3E3">￥</span><span style="color:#FD7C71">3999</span><span style="color:#E3E3E3">起</span></div>
                    <div class="rightXing"><img src="../../src/img/婚礼方案/wuxing.png" alt=""></div>
                </div>
                <div class="hotelImg"><img src="../../src/img/婚礼方案/sheying.png" alt=""></div>
                        
                <div class="hotelDizhi" style="height:0.8rem">
                        <div class="iconBoxs"><img src="../../src/img/婚礼方案/touxiang2.png" alt=""></div>
                        <div class="dizhis">灰灰</div>
                        <div class="dizhiss"><span style="color:#FE7C38">造梦师</span>&nbsp;<span style="color:#CACACA">策划一流</span></div>
                </div>
                <div class="zixun">立即咨询</div>
            </div>
            <!-- 婚纱 -->
            <div class="hotelTitle">
                <p>WEDDINXINGHEGRAPHY</p>
                <p>爱睦婚纱</p>
            </div>
            <div class="ggbox" style="margin-bottom:0.7rem;">
                <div class="priceBox">
                    <div class="leftPrice"><span style="color:#E3E3E3">￥</span><span style="color:#FD7C71">1899</span><span style="color:#E3E3E3">起</span></div>
                    <div class="rightXing"><img src="../../src/img/婚礼方案/wuxing.png" alt=""></div>
                </div>
                <div class="hotelImg"><img src="../../src/img/婚礼方案/lifu.png" alt=""></div>
                <div class="hotelDizhi">
                    <div class="iconBox"><img src="../../src/img/婚礼方案/dingwei.png" alt=""></div>
                    <div class="dizhi">三亚湾海坡12巷万家戴斯酒店7楼观海整层</div>
                </div>
                <div class="hotelDizhi">
                    <div class="iconBox"><img src="../../src/img/婚礼方案/shijian.png" alt=""></div>
                    <div class="dizhi" style="color:#8D8E90">8:00AM-10:00PM</div>
                </div>
                <div class="hotelDizhi">
                    <div class="iconBox"><img src="../../src/img/婚礼方案/dianhua.png" alt=""></div>
                    <div class="dizhi" style="color:#FE7C38">400-9088-345</div>
                </div>
                <div class="zixun">立即咨询</div>
            </div>
        </div>  
    </div>
    <!-- table栏目 -->
    <div class="tableBoxs">
        <div class="yuyue">
            <div class="xiugai">
                <div class="tubiao"><img src="../../src/img/婚礼方案/bianji.png" alt=""></div>
                <div class="character">修改方案</div>
            </div>
            <div class="sanjiao"></div>
        </div>
        <div class="yuyues">
            <div class="xiugai">
                <div class="tubiao"><img src="../../src/img/婚礼方案/yuyue.png" alt=""></div>
                <div class="character" style="color:#fff">预约全部</div>
            </div>
        </div>
    </div>
</body>
</html>