<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../../src/css/base.css">
	<link rel="stylesheet" href="../../src/css/hunyan.css">
	<script src="../../src/js/rem-ljb.js"></script>
</head>
<body>
	<header class="header">
		<div class="header-top">
			<a href=""><div class="fanhui"></div></a>
			<div class="title">
				<span class="pix1"></span>
				<span class="pix2"></span>
				<span class="tt">婚宴</span>
				<span class="pix3"></span>
				<span class="pix4"></span>
			</div>
			<div></div>
		</div>
		<div class="select-type">
			<div class="title-type title">类型 - 中式<img src="../../src/img/search-img/xiala.png" alt=""></div>
			<div class="title-area title">区域 - 不限<img src="../../src/img/search-img/xiala.png" alt=""></div>
			<div class="title-other title">筛选 - 不限<img src="../../src/img/search-img/xiala.png" alt=""></div>
		</div>
	</header>
	<main class="search-result-box">
		<section class="search-result">
			<div class="search-result-top">
				<div class="search-result-top-img">
					<img src="../../src/img/search-img/jiudian.png" alt="">
				</div>
				<div class="background1"></div>
				<div class="background2"></div>
				<div class="search-result-top-right">
					<div class="info-title">
						<span class="title">金峰庄园</span>
						<span class="img-box"><img src="../../src/img/search-img/wujiaoxing.png" alt=""></span>
					</div>
					<div class="line"></div>
					<div class="desc-box">
						<span class="desc1">#婚礼会所</span>
						<span class="desc2">#超高人气</span>
						<span class="desc3">#中式风格</span>
					</div>
					<div class="price-info">
						<div class="price">
							<div class="danwei">RMB</div>
							<div class="amount">2999起</div>
						</div>
						<div class="sell-count">
							<span class="biao">已售：</span>
							<span class="count">123</span>
						</div>
					</div>
				</div>
			</div>
			<div class="fenjie">
			</div>
			<div class="other-info">
				<div class="shoucang son">
					<span class="img-box"><img src="../../src/img/search-img/shoucang.png" alt=""></span>
					<span class="store">收藏</span>
					<span class="store-count">1314</span>
				</div>
				<div class="time son">
					<span class="img-box"><img src="../../src/img/search-img/time.png" alt=""></span>
					<span class="store">8:00-10：00</span>
				</div>
				<div class="address son">
					<span class="img-box"><img src="../../src/img/search-img/dizhi.png" alt=""></span>
					<span class="store">小店区</span>
					<span class="store-count">5km</span>
				</div>
			</div>

		</section>
		<section class="search-result">
			<div class="search-result-top">
				<div class="search-result-top-img">
					<img src="../../src/img/search-img/jiudian.png" alt="">
				</div>
				<div class="background1"></div>
				<div class="background2"></div>
				<div class="search-result-top-right">
					<div class="info-title">
						<span class="title">金峰庄园</span>
						<span class="img-box"><img src="../../src/img/search-img/wujiaoxing.png" alt=""></span>
					</div>
					<div class="line"></div>
					<div class="desc-box">
						<span class="desc1">#婚礼会所</span>
						<span class="desc2">#超高人气</span>
						<span class="desc3">#中式风格</span>
					</div>
					<div class="price-info">
						<div class="price">
							<div class="danwei">RMB</div>
							<div class="amount">2999起</div>
						</div>
						<div class="sell-count">
							<span class="biao">已售：</span>
							<span class="count">123</span>
						</div>
					</div>
				</div>
			</div>
			<div class="fenjie">
			</div>
			<div class="other-info">
				<div class="shoucang son">
					<span class="img-box"><img src="../../src/img/search-img/shoucang.png" alt=""></span>
					<span class="store">收藏</span>
					<span class="store-count">1314</span>
				</div>
				<div class="time son">
					<span class="img-box"><img src="../../src/img/search-img/time.png" alt=""></span>
					<span class="store">8:00-10：00</span>
				</div>
				<div class="address son">
					<span class="img-box"><img src="../../src/img/search-img/dizhi.png" alt=""></span>
					<span class="store">小店区</span>
					<span class="store-count">5km</span>
				</div>
			</div>
		</section>
		<section class="search-result">
			<div class="search-result-top">
				<div class="search-result-top-img">
					<img src="../../src/img/search-img/jiudian.png" alt="">
				</div>
				<div class="background1"></div>
				<div class="background2"></div>
				<div class="search-result-top-right">
					<div class="info-title">
						<span class="title">金峰庄园</span>
						<span class="img-box"><img src="../../src/img/search-img/wujiaoxing.png" alt=""></span>
					</div>
					<div class="line"></div>
					<div class="desc-box">
						<span class="desc1">#婚礼会所</span>
						<span class="desc2">#超高人气</span>
						<span class="desc3">#中式风格</span>
					</div>
					<div class="price-info">
						<div class="price">
							<div class="danwei">RMB</div>
							<div class="amount">2999起</div>
						</div>
						<div class="sell-count">
							<span class="biao">已售：</span>
							<span class="count">123</span>
						</div>
					</div>
				</div>
			</div>
			<div class="fenjie">
			</div>
			<div class="other-info">
				<div class="shoucang son">
					<span class="img-box"><img src="../../src/img/search-img/shoucang.png" alt=""></span>
					<span class="store">收藏</span>
					<span class="store-count">1314</span>
				</div>
				<div class="time son">
					<span class="img-box"><img src="../../src/img/search-img/time.png" alt=""></span>
					<span class="store">8:00-10：00</span>
				</div>
				<div class="address son">
					<span class="img-box"><img src="../../src/img/search-img/dizhi.png" alt=""></span>
					<span class="store">小店区</span>
					<span class="store-count">5km</span>
				</div>
			</div>
		</section>
	</main>
</body>
</html>