<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改密码</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../src/img/lzwimg/logo.png" media="screen" />
    <link rel="stylesheet" href="../../src/css/lzwcss/password.css">
    <link rel="stylesheet" href="../../src/iconfont/lzeiconfont/iconfont.css">
    <script src="../../src/js/lzwjs/jquery.js"></script>
    <script src="../../src/js/lzwjs/rem.js"></script>
</head>
<body>
<section>
    <section class="bg-img">
        <!--背景遮罩-->
        <div class="zhao"></div>
        <!--头部-->
        <header>
            <a href="login.html">
                <div class="header-zi1">&lt;</div>
            </a>
            <div class="header-zi2">&middot;&middot;&nbsp;&nbsp;修改密码&nbsp;&nbsp;&middot;&middot;</div>
            <div class="header-zi3">去登陆</div>
        </header>
        <!--用户头像-->
        <div class="yonghu-box">
            <img src="../../src/img/lzwimg/yonghu_03.png" alt="">
        </div>
    </section>
    <!--登陆 注册 选项卡-->
    <!--注册-->
    <section class="footer-box box2 active3">
        <div class="xg-box">
            <div class="input">
                <div>
                    <img src="../../src/img/lzwimg/icon_03.png" alt="">
                </div>
                <input type="text" placeholder="请输入用户名" autofocus required maxlength="10">
            </div>
            <div class="input">
                <div>
                    <img src="../../src/img/lzwimg/icon_06.png" alt="">
                </div>
                <input type="password" placeholder="请设置您的密码" required maxlength="16">
            </div>
            <div class="input input1">
                <div>
                    <img src="../../src/img/lzwimg/icon_08.png" alt="">
                </div>
                <input type="password" placeholder="请重新输入密码" required maxlength="16">
            </div>
            <!--提交按钮-->
            <a href="login.html">
                <button type="button" class="btn">点击修改</button>
            </a>
        </div>
    </section>
</section>

</body>
</html>