<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{CSS_PATH}wkpl.css">
    <script src="{JS_PATH}wkjquery.js"></script>
    <script src="{JS_PATH}wkrem.js"></script>
    <title>评论</title>
    <link rel="shortcut icon" type="image/x-icon" href="{IMG_PATH}logo.png" media="screen" />
</head>
<body>

<div class="bac">

</div>
<form method="post" action="index.php?m=index&f=huati&a=insertpl&pid={$pid}" enctype="multipart/form-data">

    <main>
        <header>
            <div class="headfh">
                <a href="index.php?m=index&f=huati&a=pinglun&id={$pid}">&lt;</a>
            </div>
            <div class="headbox">
                <div class="xiaodian">•</div>
                <div class="dadian">•</div>
                <div>动态</div>
                <div class="dadian">•</div>
                <div class="xiaodian">•</div>
            </div>
            <!--<div class="headtj">-->
            <!--<a href="">发布</a>-->

            <!--</div>-->
        </header>
        <div class="huifnr">
        <textarea name="plnr" id="" cols="30" rows="10" placeholder="输入您想回复的内容">

        </textarea>
            <div class="huifbot">
                <div class="bq">
                    <a href="">
                        <img src="{IMG_PATH}bq.png" alt="">
                    </a>
                </div>
                <div class="gx">
                    <a href="">
                        <img src="{IMG_PATH}gx.png" alt="">
                    </a>
                </div>
                <div class="sc">
                    <a href="">
                        <img src="{IMG_PATH}sc.png" alt="">
                    </a>
                </div>
            </div>
            <div class="huiftpsc">
                <div class="huiftpscbc">+
                    <input type="file" class="file" name="file[]" multiple>
                </div>
                <div class="huiftpscwz">
                    <p>UPLOAD</p>
                    <p>PICTURE</p>
                </div>
            </div>
            <input type="submit">
</form>

</main>
</form>
</body>
</html>