<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../src/css/wkpl.css">
    <script src="../../src/js/wkjquery.js"></script>
    <script src="../../src/js/wkrem.js"></script>
    <title>评论</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../src/img/logo.png" media="screen" />
</head>
<body>
<div class="bac">

</div>
<header>
    <div class="headfh">
        <a href="faxian.html">&lt;</a>
    </div>
    <div class="headbox">
        <div class="xiaodian">•</div>
        <div class="dadian">•</div>
        <div>评论</div>
        <div class="dadian">•</div>
        <div class="xiaodian">•</div>
    </div>
    <div class="headtj">
        <a href="">发布</a>
    </div>
</header>
<main>
    <div class="huifnr">
        <textarea name="" id="" cols="30" rows="10" placeholder="输入您想回复的内容">

        </textarea>
        <div class="huifbot">
           <div class="bq">
               <a href="">
                   <img src="../../src/img/bq.png" alt="">
               </a>
           </div>
            <div class="gx">
                <a href="">
                    <img src="../../src/img/gx.png" alt="">
                </a>
            </div>
            <div class="sc">
                <a href="">
                    <img src="../../src/img/sc.png" alt="">
                </a>
            </div>
        </div>
        <div class="huiftpsc">
            <div class="huiftpscbc"><a href="">+</a></div>
            <div class="huiftpscwz">
                <p>UPLOAD</p>
                <p>PICTURE</p>
            </div>
        </div>
    </div>

</main>
</body>
</html>