<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../../src/css/base.css">
	<link rel="stylesheet" href="../../src/css/search.css">
	<script src="../../src/js/rem-ljb.js"></script>
</head>
<body>
	<header class="header">
		<div class="header-top">
			<a href="shouye.html"><div class="fanhui"></div></a>
			<div class="title">
				<span class="pix1"></span>
				<span class="pix2"></span>
				<span class="tt">搜索</span>
				<span class="pix3"></span>
				<span class="pix4"></span>
			</div>
			<a href=""><div class="yuyin"></div></a>
		</div>
		<div class="search-box">
			<input type="text" class="search-box-input" placeholder="搜索风格、元素和商家~">
			<span class="search-icon"></span>
		</div>
	</header>
	<main>
		<section class="hot-search">
			<div class="title"></div>
			<div class="theme">
				<div class="theme-box1">
					<div class="theme-icon"></div>
					<div class="theme-word">
						<div class="title-img">
							<span>婚宴</span>
						</div>
						<div class="subtitle">
							Wedding banquet
						</div>
					</div>
					<div class="line"></div>
				</div>
				<div class="theme-box2">
					<div class="theme-icon"></div>
					<div class="theme-word">
						<div class="title-img">
							<span>策划</span>
						</div>
						<div class="subtitle">
							Wedding plan
						</div>
					</div>
					<div class="line"></div>
				</div>
				<div class="theme-box3">
					<div class="theme-icon"></div>
					<div class="theme-word">
						<div class="title-img">
							<span>摄影</span>
						</div>
						<div class="subtitle">
							Wedding photo
						</div>
					</div>
					<div class="line"></div>
				</div>
				<div class="theme-box4">
					<div class="theme-icon"></div>
					<div class="theme-word">
						<div class="title-img">
							<span>礼服</span>
						</div>
						<div class="subtitle">
							Wedding dress
						</div>
					</div>
					<div class="line"></div>
				</div>
			</div>
		</section>
		<section class="history-search">
			<div class="title-box">
				<div class="title"></div>
				<div class="rabish"></div>
			</div>
			<ul class="history-list">
				<li>
					<div class="record">跟拍</div>
					<div class="info">
						<span class="time-icon"></span>
						<span class="time">2017/11/13</span>
						<span class="delete"></span>
					</div>
				</li>
				<li>
					<div class="record">婚纱照</div>
					<div class="info">
						<span class="time-icon"></span>
						<span class="time">2017/11/13</span>
						<span class="delete"></span>
					</div>
				</li>
				<li>
					<div class="record">旅拍</div>
					<div class="info">
						<span class="time-icon"></span>
						<span class="time">2017/11/13</span>
						<span class="delete"></span>
					</div>
				</li>
				<li>
					<div class="record">定制</div>
					<div class="info">
						<span class="time-icon"></span>
						<span class="time">2017/11/13</span>
						<span class="delete"></span>
					</div>
				</li>
			</ul>
		</section>
	</main>
</body>
</html>