<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../../src/css/base.css">
	<link rel="stylesheet" href="../../src/css/search-not.css">
	<script src="../../src/js/rem-ljb.js"></script>
</head>
<body>
	<header class="header">
		<div class="header-top">
			<a href="shouye.html"><div class="fanhui"></div></a>
			<div class="title">	
				<span class="pix1"></span>
				<span class="pix2"></span>
				<span class="tt">搜索结果</span>
				<span class="pix3"></span>
				<span class="pix4"></span>
			</div>
			<a href=""><div class="yuyin"></div></a>
		</div>
		<div class="search-box">搜索风格、元素和商家~
			<span class="search-icon"></span>
		</div>
	</header>
	<main>
		<div class="big-img"></div>
	</main>
</body>
</html>