<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Swiper demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- Link Swiper's CSS -->
    <link rel="shortcut icon" type="image/x-icon" href="../../src/img/lzwimg/logo.png" media="screen" />
    <link rel="stylesheet" href="../../src/css/lzwcss/swiper.min.css">
    <link rel="stylesheet" href="../../src/css/lzwcss/shanping.css">
    <script src="../../src/js/lzwjs/shanping.js"></script>
    <script src="../../src/js/lzwjs/rem.js"></script>
    <script src="../../src/js/lzwjs/swiper.min.js"></script>

</head>
<body>
<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="../../src/img/lzwimg/shan.png" alt="">
            <div class="zi-box">
                <div class="top-box">
                    婚约
                    <img src="../../src/img/lzwimg/shan3_03.png" alt="">
                </div>
                <div class="bottom-box">
                    全新上线 &nbsp; 惊喜不断
                </div>
            </div>
            <div class="tiyan-box">滑动到下一页</div>
        </div>

        <div class="swiper-slide">
            <img src="../../src/img/lzwimg/shan1.png" alt="">
            <div class="zi-box">
                <div class="top-box top-box1">
                    婚姻大事
                </div>
                <div class="bottom-box">
                    此生唯一 &nbsp; 不可将就
                </div>
            </div>
            <div class="tiyan-box">滑动到下一页</div>
        </div>

        <div class="swiper-slide">
            <img src="../../src/img/lzwimg/shan2.png" alt="">
            <div class="zi-box">
                <div class="top-box top-box1">
                    天作之合
                </div>
                <div class="bottom-box">
                    缘起相识 &nbsp; 缘定终生
                </div>
            </div>
            <a href="login.html">
                <div class="tiyan-box">立即体检</div>
            </a>
        </div>
    </div>
    <!-- Add Pagination -->
    <!--<div class="swiper-pagination dian"></div>-->
</div>

</body>
</html>
