<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../src/js/rem-half.js"></script>
    <link rel="stylesheet" href="../../src/css/sheying.css">
</head>
<body>
    <header>
        <div class="topBox">
            <div class="backBox"><img src="../../src/img/婚礼方案/back.png" alt=""></div>
            <div class="hunlifangan">摄影</div>   
        </div>
        <div class="option">
            <div class="shangjia">精选商家</div>
            <div class="hunsha">婚纱旅拍</div>
        </div>
    </header>
    <div class="textBox">
        <div class="shangjiaBoxs" style="margin-left:0.07rem;">
            <div class="imgs"><img src="../../src/img/摄影/shangjia3.png" alt=""></div>
            <div class="hot"><img src="../../src/img/摄影/hot.png" alt=""></div>
            <div class="huatu">花图摄影</div>
            <div class="huatus">大理旅拍 一对一全程...</div>
            <div class="heng"></div>
            <div class="zan">
                <div class="xing"><img src="../../src/img/摄影/xing.png" alt=""></div>
                <div class="wenzi">3420</div>
                <div class="xing" style="margin-left:0.2rem;"><img src="../../src/img/摄影/dingwei.png" alt=""></div>
                <div class="wenzi">南京</div>
            </div>
        </div>
        <div class="shangjiaBoxs" style="height:1.805rem;margin-right:0.07rem;">
            <div class="imgs" style="height:1.035rem"><img src="../../src/img/摄影/shangjia1.png" alt=""></div>
            <div class="huatu">花图摄影</div>
            <div class="huatus">大理旅拍 一对一全程...</div>
            <div class="heng"></div>
            <div class="zan">
                <div class="xing"><img src="../../src/img/摄影/xing.png" alt=""></div>
                <div class="wenzi">3420</div>
                <div class="xing" style="margin-left:0.2rem;"><img src="../../src/img/摄影/dingwei.png" alt=""></div>
                <div class="wenzi">南京</div>
            </div>
        </div>
        <div class="shangjiaBoxs" style="height:1.805rem;margin-left:0.07rem;">
            <div class="imgs" style="height:1.035rem"><img src="../../src/img/摄影/shangjia4.png" alt=""></div>
            <div class="huatu">花图摄影</div>
            <div class="huatus">大理旅拍 一对一全程...</div>
            <div class="heng"></div>
            <div class="zan">
                <div class="xing"><img src="../../src/img/摄影/xing.png" alt=""></div>
                <div class="wenzi">3420</div>
                <div class="xing" style="margin-left:0.2rem;"><img src="../../src/img/摄影/dingwei.png" alt=""></div>
                <div class="wenzi">南京</div>
            </div>
        </div>
        <div class="shangjiaBoxs" style="margin-right:0.07rem;">
            <div class="imgs"><img src="../../src/img/摄影/shangjia5.png" alt=""></div>
            <div class="hot"><img src="../../src/img/摄影/new.png" alt=""></div>
            <div class="huatu">花图摄影</div>
            <div class="huatus">大理旅拍 一对一全程...</div>
            <div class="heng"></div>
            <div class="zan">
                <div class="xing"><img src="../../src/img/摄影/xing.png" alt=""></div>
                <div class="wenzi">3420</div>
                <div class="xing" style="margin-left:0.2rem;"><img src="../../src/img/摄影/dingwei.png" alt=""></div>
                <div class="wenzi">南京</div>
            </div>
        </div>
        <div class="shangjiaBoxs" style="margin-left:0.07rem;">
            <div class="imgs"><img src="../../src/img/摄影/shangjia6.png" alt=""></div>
            <div class="hot"><img src="../../src/img/摄影/hot.png" alt=""></div>
            <div class="huatu">花图摄影</div>
            <div class="huatus">大理旅拍 一对一全程...</div>
            <div class="heng"></div>
            <div class="zan">
                <div class="xing"><img src="../../src/img/摄影/xing.png" alt=""></div>
                <div class="wenzi">3420</div>
                <div class="xing" style="margin-left:0.2rem;"><img src="../../src/img/摄影/dingwei.png" alt=""></div>
                <div class="wenzi">南京</div>
            </div>
        </div>
        <div class="shangjiaBoxs" style="height:1.805rem;margin-right:0.07rem;">
            <div class="imgs" style="height:1.035rem"><img src="../../src/img/摄影/shangjia7.png" alt=""></div>
            <div class="huatu">花图摄影</div>
            <div class="huatus">大理旅拍 一对一全程...</div>
            <div class="heng"></div>
            <div class="zan">
                <div class="xing"><img src="../../src/img/摄影/xing.png" alt=""></div>
                <div class="wenzi">3420</div>
                <div class="xing" style="margin-left:0.2rem;"><img src="../../src/img/摄影/dingwei.png" alt=""></div>
                <div class="wenzi">南京</div>
            </div>
        </div>
    </div>
</body>
</html>