<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="{JS_PATH}rem-half.js"></script>
    <link rel="stylesheet" href="{CSS_PATH}sheying.css">
</head>
<body>
    <header>
        <div class="topBox">
            <div class="backBox"><img src="{IMG_PATH}婚礼方案/back.png" alt=""></div>
            <div class="hunlifangan">摄影</div>   
        </div>
        <div class="option">
            <div class="shangjia">精选商家</div>
            <div class="hunsha">婚纱旅拍</div>
        </div>
    </header>
    <div class="textBox">
        {foreach $arr $s}
        <div class="shangjiaBoxs" style="margin-left:0.07rem;">
            <div class="imgs"><img src="{$s['photo']}" alt=""></div>
            <div class="huatu">{$s['name']}</div>
            <div class="huatus">{$s['intro']}</div>
            <div class="heng"></div>
            <div class="zan">
                <div class="xing"><img src="{IMG_PATH}摄影/xing.png" alt=""></div>
                <div class="wenzi">{$s['zan']}</div>
                <div class="xing" style="margin-left:0.2rem;"><img src="{IMG_PATH}摄影/dingwei.png" alt=""></div>
                <div class="wenzi">{$s['adress']}</div>
            </div>
        </div>
        {/foreach}
    </div>
</body>
</html>