<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../src/js/rem-half.js"></script>
    <link rel="stylesheet" href="../../src/css/shouye.css">
    <link rel="stylesheet" href="../../src/css/swiper.min.css">
</head>
<body>
    <!-- 头部 -->
    <header>
        <div class="topBox">
            <div class="oneBox" style="display: flex;
            justify-content: space-between;">
                <div class="zuanshi"><img src="../../src/img/首页/zuanshi.png" alt=""></div>
                <div class="cityBox">北京</div>
            </div>
            <div class="oneBox" style="padding-top:0.07rem;width:0.8rem;text-align: center;font-size: 0.14rem;
            color: #fff;
            font-weight: 500;">
                <p style="font-size:0.18rem">定制</p> 
                <p>Customized</p>   
            </div>
            <div class="oneBox" style="width:0.44rem;height:100%">
                <img src="../../src/img/首页/beibao.png" alt="">
            </div>
        </div>
        <div class="bottomBox">
            <a href="search.html">
                 <div class="inputBox">
                <input type="text" class="puts">
                <div class="sousuo"><img src="../../src/img/首页/search_搜索@2x.png" alt=""></div>
            </div>
            </a>
           
        </div>
    </header>
    <!-- banner -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="../../src/img/首页/组10@2x.png" alt=""></div>
          <div class="swiper-slide"><img src="../../src/img/首页/组10@2x.png" alt=""></div>
          <div class="swiper-slide"><img src="../../src/img/首页/组10@2x.png" alt=""></div>
          <div class="swiper-slide"><img src="../../src/img/首页/组10@2x.png" alt=""></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <!-- 方案 -->
    <div class="fangan">
            <div class="titleBox"><img src="../../src/img/首页/biaoti.png" alt=""></div>
            <div class="photoBox">
                <img src="../../src/img/首页/组9@2x.png" alt="">
                <div class="textBox">
                    <div class="firstBox">
                        <div class="leftBox"><img src="../../src/img/首页/矢量智能对象@2x的副本 6.png" alt=""></div>
                        <div class="rightBox">
                            <div class="topTitle">婚宴</div>
                            <div class="bottomEng"><span style="color:rgba(255,255,255,0.7)">priceBox</span> BANQUET</div>
                        </div>
                    </div>
                    <div class="dian">...........................................</div>
                    <div class="zhu">注：该价格为每桌单价</div>
                    <div class="priceBox">￥2999</div>
                </div>
            </div>
            <div class="photoBox">
                <img src="../../src/img/首页/组12@2x.png" alt="">
                <div class="textBox1">
                    <div class="firstBox">
                        <div class="rightBox">
                            <div class="topTitle" style="text-align:right">礼服</div>
                            <div class="bottomEng"><span style="color:rgba(255,255,255,0.7)">priceBox</span> BANQUET</div>
                        </div>
                        <div class="leftBox"><img src="../../src/img/首页/矢量智能对象@2x的副本 5.png" alt=""></div>
                    </div>
                    <div class="dian">...........................................</div>
                    <div class="zhu">注：该价格为每桌单价</div>
                    <div class="priceBox" style="margin-left:50%">￥2999</div>
                </div>
            </div>
            <div class="photoBox">
                <img src="../../src/img/首页/组11@2x.png" alt="">
                <div class="textBox">
                    <div class="firstBox">
                        <div class="leftBox"><img src="../../src/img/首页/矢量智能对象@2x的副本 7.png" alt=""></div>
                        <div class="rightBox">
                            <div class="topTitle">策划</div>
                            <div class="bottomEng"><span style="color:rgba(255,255,255,0.7)">priceBox</span> BANQUET</div>
                        </div>
                    </div>
                    <div class="dian">...........................................</div>
                    <div class="zhu">注：该价格为每桌单价</div>
                    <div class="priceBox">￥2999</div>
                </div>
            </div>
            <div class="photoBox">
                    <a href="sheying.html"><img src="../../src/img/首页/组13@2x.png" alt=""></a>
                    <div class="textBox1">
                        <div class="firstBox">
                            <div class="rightBox">
                                <div class="topTitle" style="text-align:right">摄影</div>
                                <div class="bottomEng"><span style="color:rgba(255,255,255,0.7)">priceBox</span> BANQUET</div>
                            </div>
                            <div class="leftBox"><img src="../../src/img/首页/矢量智能对象@2x的副本 8.png" alt=""></div>
                        </div>
                        <div class="dian">...........................................</div>
                        <div class="zhu">注：该价格为每桌单价</div>
                        <div class="priceBox" style="margin-left:50%">￥2999</div>
                    </div>
            </div>
            <div class="bottomBox">
                <div class="xiugai" style="margin-left:14%">修改项目</div>
                <div class="xiugai" style="margin-right:14%;background:#FF8C2A;"><a style="color: #fff" href="hunlifangan.html">方案管理</a></div>
            </div>
    </div>
    <div class="tableBox1"></div>
    <!-- 底部table栏 -->
    <div class="tableBox">
        <div class="option" style="background:#FF8C2A">
            <div class="opp">
                <img src="../../src/img/首页/矢量智能对象@2x.png" alt="">
            </div>
            <div class="shu"></div>
            <div class="character" style="color:#fff">定制</div>
        </div>
        <div class="option">
            <div class="opp">
                <img src="../../src/img/首页/活动@2x.png" alt="">
            </div>
            <div class="shu"></div>
            <div class="character">定制</div>
        </div>
        <div class="option">
            <div class="opp">
                <img src="../../src/img/首页/发现@2x.png" alt="">
            </div>
            <div class="shu"></div>
            <div class="character">定制</div>
        </div>
        <div class="option">
            <div class="opp">
                <img src="../../src/img/首页/助手@2x.png" alt="">
            </div>
            <div class="shu"></div>
            <div class="character">定制</div>
        </div>
        <div class="option">
            <div class="opp">
                <img src="../../src/img/首页/我们@2x.png" alt="">
            </div>
            <div class="character">定制</div>
        </div>
    </div>
</body>
</html>
<!-- Swiper JS -->
<script src="../../src/js/swiper.min.js"></script>
<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper('.swiper-container', {
    pagination: {
      el: '.swiper-pagination',
    },
  });
</script>