<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="{JS_PATH}rem-half.js"></script>
    <link rel="stylesheet" href="{CSS_PATH}shouye.css">
    <link rel="stylesheet" href="{CSS_PATH}swiper.min.css">
</head>
<body>
    <!-- 头部 -->
    <header>
        <div class="topBox">
            <div class="oneBox" style="display: flex;
            justify-content: space-between;">
                <div class="zuanshi"><img src="{IMG_PATH}/首页/zuanshi.png" alt=""></div>
                <div class="cityBox">北京</div>
            </div>
            <div class="oneBoxs">
                <p style="font-size:0.18rem">定制</p> 
                <p>Customized</p>   
            </div>
            <div class="oneBox" style="width:0.44rem;height:100%">
                <img src="{IMG_PATH}/首页/beibao.png" alt="">
            </div>
        </div>
        <div class="bottomBox">
            <a href="index.php?m=index&f=search&a=search">
                 <div class="inputBox">
                <input type="text" class="puts">
                <div class="sousuo"><img src="{IMG_PATH}/首页/search_搜索@2x.png" alt=""></div>
            </div>
            </a>
        </div>
    </header>
    <!-- banner -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="{IMG_PATH}首页/banner2.png" alt=""></div>
          <div class="swiper-slide"><img src="{IMG_PATH}首页/banner3.png" alt=""></div>
          <div class="swiper-slide"><img src="{IMG_PATH}首页/banner4.png" alt=""></div>
          <div class="swiper-slide"><img src="{IMG_PATH}首页/banner5.png" alt=""></div>
        </div>
        <!-- Add Pagination -->
    </div>
    <!-- 方案 -->
    <div class="fangan">
            <div class="titleBox"><img src="{IMG_PATH}首页/biaoti.png" alt=""></div>
            <input class="mypid" type="hidden" value="{$pid}">
            {foreach $arr as $item}
            <div class="photoBox">
                <a href="index.php?m=index&f={$item[2]}&mz={$item[0]}"><img src="{IMG_PATH}首页/{$item[0]}.png" alt=""></a>
                <div class="textBox">
                    <div class="firstBox">
                        <div class="leftBox"><img src="{IMG_PATH}首页/矢量智能对象@2x的副本 6.png" alt=""></div>
                        <div class="rightBox">
                            <div class="topTitle" style="margin-left: 0.03rem;">{$item[0]}</div>
                            <div class="bottomEng" style="margin-left: 0.03rem;"><span style="color:rgba(255,255,255,0.7)">priceBox</span> BANQUET</div>
                        </div>
                    </div>
                    <div class="dian">...........................................</div>
                    <div class="zhu" >注：该价格为单价</div>
                    <div class="priceBox" >￥{$item[1]}</div>
                </div>
            </div>
            {/foreach}
            <div class="bottomBox">
                <div class="xiugai" style="margin-left:14%">
                    <a style="color: #FFB579;" href="index.php?m=index&f=custom">
                     修改项目
                    </a>
                </div>
                <a href=""></a><div class="xiugai guanli" style="margin-right:14%;background:#FF8C2A; "> 
                    <a href="index.php?m=index&f=custom&a=guanli&pid={$pid}" style="color: #fff;">方案管理</a> 
                </div>
            </div>
    </div>
    <div class="tableBox1"></div>
    <!-- 底部table栏 -->
    <div class="tableBox">
        
        <div class="option" style="background:#FF8C2A">
            <a href="shouye.html">
                <div class="opp">
                    <img src="{IMG_PATH}首页/矢量智能对象@2x.png" alt="">
                </div>
                <div class="shu"></div>
            
                <div class="character" style="color:#fff">定制</div>
            </a>
            
        </div>
        
        <div class="option">
            <a href="active.html">
                <div class="opp">
                <img src="{IMG_PATH}首页/活动@2x.png" alt="">
                </div>
                <div class="shu"></div>
                <div class="character">活动</div>
            </a>
            
        </div>
        <div class="option">
            <a href="faxian.html">
                <div class="opp">
                <img src="{IMG_PATH}首页/发现@2x.png" alt="">
            </div>
            <div class="shu"></div>
            <div class="character">发现</div>
            </a>
            
        </div>
        <div class="option">
            <a href="assistant.html">
                <div class="opp">
                <img src="{IMG_PATH}首页/助手@2x.png" alt="">
            </div>
            <div class="shu"></div>
            <div class="character">助手</div>
            </a>
            
        </div>
        <div class="option">
            <a href="personal.html">
                <div class="opp">
                <img src="{IMG_PATH}首页/我们@2x.png" alt="">
            </div>
            <div class="character">我们</div>
            </a>
            
        </div>
    </div>
</body>
</html>
<!-- Swiper JS -->
<script src="{JS_PATH}jquery.min.js"></script>
<script src="{JS_PATH}swiper.min.js"></script>
<script src="{JS_PATH}shouye.js"></script>
<!-- Initialize Swiper -->
