<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../src/css/yourselect.css">
    <script src="../../src/js/rem.js"></script>
    <script src="../../src/js/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="header">
            <div class="header-left">
                <img src="../../src/img/定制流程/date_03.png" alt="">
                <p class="first-p">
                    您的婚礼选择 ..
                </p>
                <p>
                    WEDDING STYLE ..
                </p>
            </div>
            <div class="header-right">
                <a href="">
                    跳过
                    <img src="../../src/img/定制流程/date_06.png" alt="">
                </a>
            </div>
        </div>
        <div class="page">
            .....................................&nbsp;
            <span><img src="../../src/img/定制流程/page4_03.png" alt=""></span>&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;.....................................
        </div>
    </header>
    
    <main>
        <div class="bac">
            <div class="content">
                <section class="top">
                    <div class="content-top-left content-scale1">
                        <img src="../../src/img/定制流程/page4_07.png" alt="">
                    </div>
                    <div class="content-top-right">
                        <div class="modify">
                            <div class="modify-content">
                                山西
                            </div>
                            <img src="../../src/img/定制流程/custom_24.png" alt="">
                        </div>
                    </div>
                </section>
                <div class="shandow"></div>
                <section class="top">
                    <div class="content-top-left  content-scale2">
                        <img src="../../src/img/定制流程/page4_11.png" alt="">
                    </div>
                    <div class="content-top-right">
                        <div class="modify">
                            <div class="modify-budget">
                                ￥50000 -- ￥150000
                            </div>
                        <img src="../../src/img/定制流程/custom_24.png" alt="">
                        </div>
                    </div>
                </section>
                <div class="shandow"></div>
                <section class="top">
                    <div class="content-top-left  content-scale3">
                        <img src="../../src/img/定制流程/page4_14.png" alt="">
                    </div>
                    <div class="content-top-right">
                        <div class="modify">
                            <div class="modify-date">
                                2018.06.28
                            </div>
                            <img src="../../src/img/定制流程/custom_24.png" alt="">
                        </div>
                    </div>
                </section>
                <div class="shandow"></div>
                <section class="top">
                    <div class="content-top-left  content-scale4">
                        <img src="../../src/img/定制流程/page4_18.png" alt="">
                    </div>
                    <div class="content-top-right">
                        <div class="modify">
                            <div class="modify-fugu">
                                复古欧式
                            </div>
                            <img src="../../src/img/定制流程/custom_24.png" alt="">
                        </div>
                    </div>
                </section>
                <div class="shandow"></div>
                <section class="top">
                    <div class="content-top-left  content-scale5">
                        <span>
                             您的预算里包含:
                        </span>
                       
                    </div>
                    <div class="content-top-right">
                        <div class="modify">
                            
                            <img src="../../src/img/定制流程/custom_24.png" alt="">
                        </div>
                    </div>
                </section>
                <a href="shouye.html">
                    <div class="sub-next1 ">
                        立即定制
                    </div>
                </a>
            </div>
        </div>
    </main>
</body>
</html>