<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}yourselect.css">
    <script src="{JS_PATH}rem-half.js"></script>
    <script src="{JS_PATH}jquery.min.js"></script>
    <script src="{JS_PATH}yourselect.js"></script>
</head>
<body>
    <header>
        <div class="header">
            <div class="header-left">
                <a href="manner.html">
                    <img src="{IMG_PATH}定制流程/date_03.png" alt="">
                    <p class="first-p">
                        您的婚礼选择 ..
                    </p>
                    <p>
                        WEDDING STYLE ..
                    </p>
                </a>
            </div>
            <div class="header-right">
                <a href="">
                    跳过
                    <img src="{IMG_PATH}定制流程/date_06.png" alt="">
                </a>
            </div>
        </div>
        <div class="page">
            .....................................&nbsp;
            <span><img src="{IMG_PATH}定制流程/page4_03.png" alt=""></span>&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;.....................................
        </div>
    </header>
    
    <main>
        <div class="bac">
            <div class="content">
                <section class="top">
                    <div class="content-top-left content-scale1">
                        <img src="{IMG_PATH}定制流程/page4_07.png" alt="">
                    </div>
                    <div class="content-top-right">
                        <div class="modify">
                            <div class="modify-content modify-place">{$mycustom["place"]}</div>
                            <img src="{IMG_PATH}定制流程/custom_24.png" alt="">
                        </div>
                    </div>
                </section>
                <div class="shandow"></div>
                <section class="top">
                    <div class="content-top-left  content-scale2">
                        <img src="{IMG_PATH}定制流程/page4_11.png" alt="">
                    </div>
                    <div class="content-top-right">
                        <div class="modify">
                            <div class="modify-budget modify-cprice">{$mycustom["cprice"]}</div>
                        <img src="{IMG_PATH}定制流程/custom_24.png" alt="">
                        </div>
                    </div>
                </section>
                <div class="shandow"></div>
                <section class="top">
                    <div class="content-top-left  content-scale3">
                        <img src="{IMG_PATH}定制流程/page4_14.png" alt="">
                    </div>
                    <div class="content-top-right">
                        <div class="modify">
                            <div class="modify-date modify-date">{$mycustom["date"]}</div>
                            <img src="{IMG_PATH}定制流程/custom_24.png" alt="">
                        </div>
                    </div>
                </section>
                <div class="shandow"></div>
                <section class="top">
                    <div class="content-top-left  content-scale4">
                        <img src="{IMG_PATH}定制流程/page4_18.png" alt="">
                    </div>
                    <div class="content-top-right">
                        <div class="modify">
                            <div class="modify-fugu modify-style">{$mycustom["style"]}</div>
                            <img src="{IMG_PATH}定制流程/custom_24.png" alt="">
                        </div>
                    </div>
                </section>
                <div class="shandow"></div>
                <section class="top">
                    <div class="content-top-left  content-scale5">
                        <span>
                             您的预算里包含:  
                        </span>
                       
                    </div>
                    <div class="content-top-right">
                        <div class="modify modify-project">
                            <span>
                                {foreach $mproject as $item}
                                <li>{$item}:<input class="pro" type="text" value="{$proportion}"></li>&nbsp;
                                {/foreach}
                            </span>
                            
                            <img src="{IMG_PATH}定制流程/custom_24.png" alt="">
                        </div>
                    </div>
                </section>
                <a >
                    <div class="sub-next1 ">
                        立即定制
                    </div>
                </a>
            </div>
        </div>
    </main>
</body>
</html>