/*
* @Author: Administrator
* @Date:   2017-09-30 11:46:45
* @Last Modified by:   Administrator
* @Last Modified time: 2018-01-22 15:23:06
*/

*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family:"PingFang SC";
}
a{
	text-decoration: none;
}
body{
	background: #ffffff;
}

/* 兼容ie6 */
img{
	border: 0;
}