*{
    padding:0;
    margin: 0;
    list-style: none;
    font-family: "微软雅黑","SansSerif","宋体";
    box-sizing: border-box;
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
    height:100%;
}
/*头部开始*/
header{
    height: 60px;
    width:100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.else-box{
    height: 60px;
    width:100%;
}
main{
    width: 1170px;
    height: 100%;
    /*background: red;*/
    margin: 0 auto;
}
.logo-box{
    width: 150px;
    height: 100%;
    /*background: green;*/
    float: left;
}
.head-right-box{
    width: 130px;
    height: 100%;
    /*background: pink;*/
    float: right;
}
.register-box{
    width: 60px;
    height: 36px;
    background: #46BE8A;
    float: left;
    margin-top: 12px;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    position:relative;
}
.opacity{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.2);
    display: none;
    cursor: pointer;
}
.register-box:hover .opacity{
    display: block;
}
.register-box a{
    color: #ffffff;
}
.enter-box{
    width: 60px;
    height: 36px;
    background:#fff;
    float: right;
    margin-top: 12px;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    border:1px solid #62A8EA;
    cursor: pointer;
}
.enter-box:hover{
    background: #62A8EA;
}
.enter-box:hover a{
    color: #ffffff;
}
.enter-box a{
    color: #62A8EA;
}
.head-center-box{
    width: 657.3px;
    height: 100%;
    /*background: blue;*/
    float: right;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    padding-right: 35px;
}
.head-center-box li,.head-center-box li a{
    display: block;
    color: #000000;
    line-height: 60px;
    position: relative;
}
.head-center-box li:nth-child(3) a{
    color: #4E97D9;
}
.head-center-box li:hover a{
    color: #4E97D9;
}
.head-center-box li:hover .sanjiaoxing{
    border-top-color:#4E97D9;
}
.sanjiaoxing{
    width:0;
    height:0;
    border-top: 4px solid #000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    bottom:23px;
    right: -11px;
}
.option{
    background: #ffffff;
    position: absolute;
    top:60px;
    right: -15px;
    display:none ;
}
.option div{
    width: 159px;
    color: #000000;
    font-size: 15px;
    padding-left: 0px;
    margin-top: -20px;
    opacity:0
}
.option div:first-child:hover,.option div:nth-child(2):hover,.option div:nth-child(3):hover,.option div:nth-child(4):hover,.option div:nth-child(5):hover{
    color:#4E97D9 ;
    background: #cccccc;
}
/*banner开始*/
.bannerBox{
    width:100%;
    height: 281px;
    /*background: red;*/
}
.productText{
    display: block;
    width: 100%;
    height:36px;
    /*background: red;*/
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    position: absolute;
    top:180px;
    left: 0;
    text-align: center;
}
/*option*/
.optionBox{
    width: 100%;
    /*height: 1109px;*/
    background: #f2f2f2;
    padding:30px 0;
}
.optionMainBox{
    width: 1170px;
    /*height: 100%;*/
    background: #f2f2f2;
    margin:0 auto;
    position:relative;
}
.optionleft{
    width: 877px;
    /*height: 100%;*/
    background: #fff;
    padding: 20px 20px;
}
.optionSmallBox{
    width: 817px;
    /*height: 958px;*/
    /*background: pink;*/
}
.optionSmallone{
    width: 100%;
    height: 464px;
    /*background: yellow;*/
    border:1px solid #cccccc;
    margin-bottom: 20px;
}
.smallImg{
    width:100%;
    height: 272px;
    /*background: green;*/
}
.characterBox{
    width: 100%;
    height: 191px;
    background: #ffffff;
    padding:30px 25px;
    border-bottom: 1px solid #ccc;
}
.titleBox{
    width: 100%;
    height: 27px;
    font-size: 24px;
    color: #37474f;
    margin-bottom: 11px;
}
.dateBox{
    width: 100%;
    height: 18px;
    color: #a3afb7;
    font-size: 12px;
    margin-bottom: 11px;
}
.neirong{
    width: 100%;
    height: 63px;
    color: #000000;
    font-size: 14px;
}
.rightBox{
    width: 262px;
    height: 530px;
    background: #ffffff;
    position: absolute;
    right: 0px;
    top:0;
    padding:20px;
}
.input{
    width: 222px;
    height: 36px;
    position: relative;
    /*background: pink;*/
}
.input input{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border-radius: 200px;
    border:1px solid #cccccc;
}
.input input:focus{
    outline: none;
    border:1px solid #5DA0DC;
}
.serchLogo{
    width: 14px;
    height: 14px;
    /*background: yellow;*/
    position: absolute;
    right: 10px;
    bottom: 11px;;
}
.borderBox{
    height: 1px;
    width: 100%;
    background: #cccccc;
    margin-top: 20px;
    margin-bottom: 15px;
}
.weinin{
    font-size: 18px;
    font-weight: 300;
    color: #37474f;
}
.listGroup{
    width: 100%;
    height: 238px;
    /*background: pink;*/
    margin-top: 10px;
    border:1px solid #cccccc;
}
.listGroup li{
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #cccccc;
    /*border-collapse: collapse;*/
    font-size: 15px;
    padding: 10px;
}
.listGroup li:nth-child(2){
    height: 66px;
}
.listGroup li:nth-child(5){
    border-bottom: none;
}
/*底部链接*/
.bottom-link{
    width: 100%;
    height: 233px;
    border-top: 1px solid #F0F2F5;
    /*margin-top: 70px;*/
    padding: 40px 0;
}
.link-main{
    width: 1170px;
    height: 152px;
    /*background: red;*/
    margin:0 auto;
}
.link-main>ul{
    width: 165px;
    height: 100px;
    /*background: pink;*/
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    margin-right: 70px;
}
.link-main>ul>li:first-child{
    font-size: 19px;
    color: #545B63;
    font-weight: 400
}
.link-main>ul>li{
    width: 165px;
    height: 21px;
    margin-top: 7px;
    color: #5E7387;
    text-align: center;
    font-size: 15px;
}
.link-main>ul>li:nth-child(2){
    margin-top: 15px;
}
.call-box {
    /*width: 146.92px;*/
    height: 35px;
    color: #617589;
    margin-top: 10px;
    font-size: 26px;
}
.boxs{
    width: 180px;
    height: 200px;
    float: left;
    text-align: center;
}
.call-box2{
    margin-top: 7px;
    font-size: 15px;
    color: #ADADAD;
}
.link-qq{
    width: 100%;
    height: 30px;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.vx{
    width: 26px;
    height: 26px;
}
/*热门城市*/
.hot-city{
    width:100%;
    height: 68px;
    border-top: 1px solid #F0F2F5;
    border-bottom: 1px solid #F0F2F5;
    margin-top: 10px;
    padding:8px 10px;
}
.city-main{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    color: #8393A2;
    line-height: 48px;
}
/*版权所有*/
.banquan{
    width: 100%;
    height: 60px;
    padding: 10px 0;
    /*background: red;*/
    text-align: center;
    color: #8393A2;
    line-height:30px;
    margin-bottom: 20px;
}