@import "rest.css";
body{
    padding: 0 0.12rem;
    background: #FC842D;
    font-family: "PingFang SC";
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
/* 头部 */
header{
    width: 100%;
    height: 1rem;
}
.topBox{
    width: 100%;
    height: 50%;
    /* background: red; */
    position: relative;
}
.backBox{
    width: 0.25rem;
    height: 0.25em;
    /* background: yellow; */
    position: absolute;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
}
.hunlifangan{
    font-size: 0.18rem;
    color: #fff;
    /* margin: 0 auto; */
    text-align: center;
    line-height: 0.5rem;
}
#wrapper {
	position: absolute;
	z-index: 1;
	top: 45px;
	bottom: 48px;
	left: 0;
    width: 100%;
    height:0.5rem;
	overflow: hidden;
}
#scroller {
	position: absolute;
	z-index: 1;
	width: auto;
}
#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
}
#scroller li {
	display: block;
	float: left;
	width: 100px;
	height: 0.5rem;
}
.bottomBox{
    width: 100%;
    height: 50%;
    /* background: pink; */
    display: flex;
}
.bottomBox > li{
    width: 25%;
    height: 0.36rem;
    /* background: yellow; */
    font-size: 0.16em;
    font-weight: 500;
    text-align: center;
    line-height: 0.36rem;
    position: relative;
}
.bottomBox > li > a{
    color: #fff;
}
.bottomBox .mao{
    display: block;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
.shu{
    position: absolute;
    width: 0.01rem;
    height: 0.2rem;
    background: #fff;
    right: 0;
    top: 0.14rem;
}
.english{
    position: absolute;
    top:0.16rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #FEAA71;
    font-size: 0.12rem;
}
/* 内容部分 */
.content{
    width: 100%;
    height: auto;
}
.yusuan{
    width: 3.51rem;
    height: 2.58rem;
    background: #fff;
    margin:0 auto;
    margin-bottom: 0.2rem;
}
.hotel{
    width:100%;
    height: 2.58rem; 
    /* margin-bottom: 0.2rem; */
    /* background: pink; */
    margin: 0 auto;
}
.hotelTitle{
    width: 100%;
    /* height: 0.54rem; */
    background: #fff;
    position: relative;
}
.hotelTitle > P:nth-child(1){
    font-size: 0.2rem;
    color: rgba(212,212,212,0.5);
    font-weight: 800;
    top: 0;bottom: 0;
    left: 0;right: 0;
    margin: auto;
    z-index: 1000;
    text-align: center;
    line-height:0.54rem;
}
.hotelTitle > P:nth-child(2){
    position: absolute;
    font-size: 0.2rem;
    color: #000;
    font-weight: 800;
    top: 0;bottom: 0;
    left: 0;right: 0;
    margin: auto;
    z-index: 1;
    text-align: center;
    line-height:0.54rem;
}
.priceBox{
    width: 100%;
    height: 0.6rem;
    background: #FFF8F2;
    display: flex;
    justify-content: space-between;
}
.leftPrice{
    height: 100%;
    width: 0.5rem;
    font-size: 0.2rem;
    text-align: center;
    line-height: 0.75rem;
    white-space: nowrap;
    margin-left: 0.07rem;
}
.rightXing{
    width: 0.68rem;
    height: 0.11rem;
    /* background: green; */
    margin-top: 0.32rem;
    margin-right: 0.07em;
}
.hotelImg{
    width: 100%;
    height: 1.315rem;
    background: #fff;
    margin: 0 auto;
    border-radius: 0.12rem;
}
.hotelDizhi{
    margin-top: 0.1rem;
    width: 100%;
    height: 0.4rem;
    /* background: pink; */
    display: flex;
}
.ggbox{
    background: #fff;
    position: relative;
    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
}
.iconBox{
    width: 0.4rem;
    height: 0.4rem;
    /* background: yellow; */
    margin-left: 0.07rem;
}
.dizhi{
    font-size: 0.14rem;
    color: #252628;
    text-align: center;
    margin-left: 0.2rem;
    line-height: 0.4rem;
}
.zixun{
    width: 1rem;
    height: 0.4rem;
    background: #FF7642;
    position: absolute;
    bottom: 0.2rem;
    right: 0.2rem;
    border-radius: 0.5rem;
    text-align: center;
    line-height: 0.4rem;
    font-size: 0.14rem;
    color: #fff;
}
.iconBoxs{
    width: 0.8rem;
    height: 0.8rem;
    /* background: yellow; */
    margin-left: 0.07rem;
}
.dizhis{
    width: 0.5rem;
    height: 0.3rem;
    font-size: 0.14rem;
    color: #565656;
    /* text-align: center; */
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    white-space: nowrap;
}
.dizhiss{
    width: 0.5rem;
    height: 0.3rem;
    font-size: 0.14rem;
    color: #565656;
    /* text-align: center; */
    margin-left: -0.5rem;
    margin-top: 0.5rem;
    white-space: nowrap;
}
/* table栏 */
.tableBoxs{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.5rem;
    /* background: red; */
    display: flex;
    z-index: 1000;
}
.yuyue{
    width: 40%;
    height: 100%;
    background: #fff;
    position: relative;
}
.yuyues{
    width: 60%;
    height: 100%;
    background: #FF8E7C;
    position: relative;
}
.xiugai{
    width: 1rem;
    height: 0.4rem;
    /* background: red; */
    position: absolute;
    top: 0.06rem;bottom: 0;left: 0;right: 0;
    margin:auto;
    display: flex;
}
.tubiao{
    width: 0.3rem;
    height: 0.3rem;
}
.character{
    width: 0.6rem;
    height: 0.4rem;
    font-size: 0.14rem;
    line-height: 0.3rem;
    text-align: center;
    margin-left: 0.1rem;
    color: #FF955E;
}
.sanjiao{
    position: absolute;
    z-index: 20000;
    right: -0.1rem;
    top: 0rem;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 0;
    height: 0;
    border-top: 0.1rem solid transparent;
    border-bottom: 0.1rem solid transparent;
    border-left: 0.2rem solid #fff;
}
