@import "rest.css";

body{
    overflow: hidden;
}
header{
   width: 100%;
   height:1.75rem;
   background: url("../img/定制流程/custom.png") center no-repeat;
   background-size: cover;
   overflow: hidden;
}
.header{
    width: 100%;
    height: 0.3rem;
    /* background: red; */
    margin-top: 0.34rem;
    padding: 0 0.12rem;
    box-sizing: border-box;
}
.header-left{
    width: 50%;
    height: 100%;
    /* background: pink; */
    float: left;
    position: relative;
}
.header-left p{
     margin-left: 0.25rem;
}
.header-left p.first-p{
    font-size: 14px;
    font-family: "苹方";
    color: #fff;
    font-weight: bold;
   
}
.header-left img{
    position: absolute;
    top: 0;
    left: 0;
    width: 0.21rem;
    height: 0.275rem;
}
.header-left p:last-child{
    font-size: 12px;
    font-family: "San Francisco Display";
    margin-top: 0.03rem;
    color: #FFD5C0;
}
.header-right{
    width: 50%;
    height: 100%;
    float: left;
    /* background: green; */
    font-size: 14px;
}
.header-right  a{   
    font-family: "苹方";
    font-weight: bold; 
    color: #fff;
    float: right;
}
.header-right  a img{
    width: 0.125rem;
    height: 0.12rem;
}
.page{
    margin-top: 0.15rem;
    width: 100%;
    height: 0.2rem;
    /* background: red; */
    font-size: 16px;
    text-align: center;
    padding: 0 0.12rem;
    box-sizing: border-box;
    color: #fff;
}
/* **********header*********** */
/* *********main************** */
/* **********main********** */
main{
    width: 100%;
    height: auto;
    padding: 0 0.12rem;
    box-sizing: border-box;
}
div.bac{
    width: 3.1rem;
    height: 4.1rem;
    margin: -0.6rem  auto 0;
    border-radius: 0.1rem;
    transform: rotate(5deg);
    background: #FFD452;
}
div.content{
    width: 3.11rem;
    height: 5rem;
    background: red;
    transform: rotate(-5deg);
    border-radius: 0.1rem;
    background: #fff ;
    box-shadow: 0.05rem 0.05rem 0.5rem #F4E2D3;
    padding: 0 0.15rem;
    box-sizing: border-box;
}
section.top{
    width: 100%;
    height: 0.8rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.shandow{
    width: 100%;
    height: 0.1rem;
    box-shadow: 0 0.2rem 0.5rem #FFd5C0;
}
.include-left{
    width: 40%;
    font-size: 14px;
    color: #4D4E50;
    position: relative;
    font-weight: bold;
    font-family: "苹方";
}
.include-left span{
    position: absolute;
    left: 0;
    bottom: 0;
}
.include-right{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    font-family: "苹方";
    height: auto;
    /* background: red; */
}

.include-right li{
    font-size: 14px;
    list-style: none;
    float: left;
    margin-top: 0.1rem;
    margin-bottom: 0.0rem;
    margin-right: 0.025rem;
    margin-left: 0.025rem;
    
}

.include-right li div{
    width: 0.15rem;
    height: 0.08rem;
    border-left: 0.02rem solid red;
    border-bottom: 0.02rem solid red;
    transform: rotate(-45deg);
    display: inline-block;
    margin-bottom: 0.02rem;
}
section.bottom{
    margin-top: 0.2rem;
    width: 100%;
    height: 3rem;
}
section.bottom ul{
    width: 100%;
    height: 100%; 
    background: #fffffe;
}
section.bottom ul li{
    width: 33.33%;
    height: 33.33%;
    float: left;
    box-sizing: border-box;
    position: relative;
     font-family: "苹方";
}
section.bottom ul li img{
    width: 0.55rem;
    height: 0.55rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
section.bottom ul li p{
    width: 100%;
    font-size: 12px;
    position: absolute;
    bottom: 0.02rem;
    text-align: center;
    color: #7F8282;
}
section.bottom ul li .zhao{
    width: 60%;
    height: 60%;
    border: 0.02rem solid #EC607A;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
}
section.bottom ul li:nth-child(1) .zhao{
    border-color:#EC607A;
}
section.bottom ul li:nth-child(2) .zhao{
    border-color:#FEAA5A; 
}
section.bottom ul li:nth-child(3) .zhao{
    border-color:#8079F2; 
}
section.bottom ul li:nth-child(4) .zhao{
    border-color:#63DD81;
}
section.bottom ul li .zhao.active{
    display: block;
}
section.bottom ul li .zhao .zhao-middel.active{
    display: block;
}
section.bottom ul li:nth-child(1) .zhao .zhao-middel{
    background:#EC607A;
}
section.bottom ul li:nth-child(2) .zhao .zhao-middel{
    background:#FEAA5A; 
}
section.bottom ul li:nth-child(3) .zhao .zhao-middel{
    background:#8079F2; 
}
section.bottom ul li:nth-child(4) .zhao .zhao-middel{
    background:#63DD81;
}
section.bottom ul li .zhao .zhao-middel{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: rgba(240, 100, 126, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0.7;
}
section.bottom ul li .duigou img{
    display: block;
    width: 0.19rem;
    height: 0.13rem;
}
section.bottom ul li:nth-child(1),section.bottom ul li:nth-child(2),
section.bottom ul li:nth-child(3),section.bottom ul li:nth-child(4),
section.bottom ul li:nth-child(5),section.bottom ul li:nth-child(6){
    border-bottom: 0.01rem  dashed  rgba(189,189,189,0.5);
}
section.bottom ul li:nth-child(1),section.bottom ul li:nth-child(2),
section.bottom ul li:nth-child(4),section.bottom ul li:nth-child(5),
section.bottom ul li:nth-child(7),section.bottom ul li:nth-child(8){
      border-right: 0.01rem  dashed rgba(189,189,189,0.5);
}
section.bottom ul li:nth-child(1) .dian,section.bottom ul li:nth-child(2) .dian,
section.bottom ul li:nth-child(4) .dian,section.bottom ul li:nth-child(5) .dian{
    width: 0.05rem;
    height: 0.05rem;
    position: absolute;
    background: rgba(189,189,189,0.5);
    border-radius: 50%;
    bottom: -0.03rem;
    right: -0.03rem;
    z-index: 9999;

}
.sub-next,.sub-change{
    margin: 0.3rem auto 0;
    width: 1.9rem;
    height: 0.25rem;  
    border-radius: 0.25rem;
    background: -webkit-linear-gradient(left, #FF8A2C , #FF6852); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #FF8A2C , #FF6852); /* Opera 11.1 - 12.0 */  
    background: -moz-linear-gradient(right, #FF8A2C , #FF6852); /* Firefox 3.6 - 15 */ 
    background: linear-gradient(to right, #FF8A2C , #FF6852); /* 标准的语法 */ 
    border: 0.01rem solid #fff;
    box-shadow: 0rem 0.03rem 0.1rem #FFB57A;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 0.25rem;
}
