<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="{CSS_PATH}bootstrap.css">
    <link rel="stylesheet" href="{CSS_PATH}font-awesome.min.css">
    <link rel="stylesheet" href="{CSS_PATH}style.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{CSS_PATH}main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="{CSS_PATH}demo.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="{IMG_PATH}apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{IMG_PATH}favicon.png">
    <title>修改类别</title>
    <style>
        td span{
            margin-left: 10px;
        }
    </style>
</head>
<body>
<div class="panel">
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>序号</th>
                <th>评论作者</th>
                <th>缩略图</th>
                <th>发布时间</th>
                <th>点赞个数</th>
                <th>回复个数</th>
                <th>上级ID</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <!--<tr>
                <td>1</td>
                <td>Steve</td>
                <td>
                    <a href=""><span class="text-danger">修改</span></a>
                    <a href="delcategory.php?"><span class="text-info">删除</span></a>
                </td>
            </tr>-->
            <!--{$arr}-->
           {foreach $arr as $item}
            <tr>

                <td>{$item['id']}</td>
                <td>{$item['plname']}</td>
                <td>
                    {$item['plimg']}
                    <!--{ $brr=explode('&#45;&#45;',$item['img']);}
                    {foreach $brr as $i}
                       if($i){
                           echo "<img width='30' src='{$i}' alt=''>";
                       }
                    {/foreach}-->
                </td>
                <td>{$item['pltime']}</td>
                <td>{$item['pldzcount']}</td>
                <td>{$item['plhfcount']}</td>
                <td>{$item['pid']}</td>
                <td>
                    <a href="index.php?m=admin&f=pinglun&a=showpinglun&id={$item['id']}"><span class=\"text-danger\">查看</span></a>
                    <a href="index.php?m=admin&f=pinglun&a=delpinglun&id={$item['id']}"><span class=\"text-info\">删除</span></a>
                </td>
            </tr>
           {/foreach}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>